<div class="center">    <!-- Para inyección en página principal.-->

  <div class="dropdown-container">
    <select id="data-type" (change)="onSelectionChange($event)">
      <option value="" selected disabled>Seleccionar categoría</option>
      <option value="conversiones">Conversiones</option>
      <option value="transacciones">Transacciones</option>
    </select>
  </div>
  

  <!--The content below is only a placeholder and can be replaced.-->
  <div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [grid]="chartOptions.grid"
      [stroke]="chartOptions.stroke"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>

</div>