<div class="container mx-auto w-full">
  <!-- Loader que se muestra mientras se cargan los datos -->
  <div *ngIf="isLoading" class="flex items-center justify-center">
    <div class="loader justify-center"></div>
  </div>
  <div *ngIf="!isLoading" class="dropdown-container">
    <select id="data-type" (change)="onSelectionChange($event)">
      <option value="transacciones">Transacciones</option>
      <option value="conversiones">Conversiones</option>
    </select>
  </div>

  <!-- El contenido a continuación es solo un marcador de posición y se puede reemplazar -->
  <div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [grid]="chartOptions.grid"
      [stroke]="chartOptions.stroke"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>
</div>
