<body>
    <div class="container">
        <h2 class="text-center text-3xl font-bold mb-4">Registro</h2>
        <form class="form">
            <div class="flex flex-col">
                <label for="nombre" class="mb-2 text-lg font-semibold">Nombre</label>
                <input id="nombre" class="input" type="text">
            </div>
            <div class="flex flex-col">
                <label for="email" class="mb-2 text-lg font-semibold">Email</label>
                <input id="email" class="input" type="email">
            </div>
            <div class="flex flex-col">
                <label for="password" class="mb-2 text-lg font-semibold">Password</label>
                <input id="password" class="input" type="password">
            </div>
            <button type="submit" class="button">Registrar</button>
        </form>
    </div>
</body>
