<div class="dropdown-container">
  <label for="data-type">Seleccione el tipo de dato:</label>
  <select id="data-type" (change)="onSelectionChange($event)">
    <option value="sex">Sexo</option>
    <option value="age">Edad</option>
    <option value="job">Trabajo</option>
  </select>
</div>


<!--The content below is only a placeholder and can be replaced.-->
<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [stroke]="chartOptions.stroke"
    [tooltip]="chartOptions.tooltip"
    [dataLabels]="chartOptions.dataLabels"
    [title]="chartOptions.title"
  ></apx-chart>
</div>
