<div class="p-4 flex flex-col items-center w-full min-h-screen">
  <!-- Filtros -->
  <div class="w-full max-w-4xl mb-4 flex gap-4">
    <div class="flex-1">
      <input
        type="text"
        [(ngModel)]="_filterTransaccion"
        (ngModelChange)="onFilterChange()"
        placeholder="Filtro por Cliente"
        class="w-full p-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 h-12"
      />
    </div>

    <div class="flex-1 flex gap-4">
      <div class="flex-1">
        <input
          type="date"
          [(ngModel)]="startDate"
          (ngModelChange)="onFilterChange()"
          placeholder="Fecha Inicio"
          class="w-full p-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 h-12"
        />
      </div>
      <div class="flex-1">
        <input
          type="date"
          [(ngModel)]="endDate"
          (ngModelChange)="onFilterChange()"
          placeholder="Fecha Fin"
          class="w-full p-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 h-12"
        />
      </div>
    </div>
  </div>

  <!-- Tabla -->
  <div
    class="w-full max-w-4xl bg-white border border-gray-300 rounded-md shadow-md p-4 mb-4"
  >
    <table class="w-full text-sm text-left text-gray-500 border-collapse">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th
            (click)="order('transaccionId')"
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
          >
            Id Transaccion
          </th>

          <th
            (click)="order('clienteOrigenId')"
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
          >
            Cliente Origen
          </th>

          <th
            (click)="order('clienteDestinoId')"
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
          >
            Cliente Destino
          </th>

          <th
            (click)="order('fecha')"
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
          >
            Fecha
          </th>

          <th
            (click)="order('importeEnviado')"
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
          >
            Importe Enviado
          </th>

          <th
            (click)="order('importeRecibido')"
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
          >
            Importe Recibido
          </th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="
            let transaccion of transaccionesFilter
              | paginate : { itemsPerPage: 20, currentPage: currentPage }
          "
          class="bg-white border-b hover:bg-gray-50"
        >
          <td class="px-4 py-2 font-medium text-gray-900">
            {{ transaccion.transaccionId }}
          </td>

          <td
            class="px-4 py-2"
            (mouseenter)="showTooltip(transaccion, $event, true)"
            (mouseleave)="hideTooltip()"
          >
            <a
              [routerLink]="[
                '/estadistica/clientes/',
                transaccion.clienteOrigenId
              ]"
              class="text-blue-600 hover:underline"
            >
              {{ transaccion.clienteOrigenId }}
            </a>
          </td>

          <td
            class="px-4 py-2"
            (mouseenter)="showTooltip(transaccion, $event, false)"
            (mouseleave)="hideTooltip()"
          >
            <a
              [routerLink]="[
                '/estadistica/clientes/',
                transaccion.clienteDestinoId
              ]"
              class="text-blue-600 hover:underline"
            >
              {{ transaccion.clienteDestinoId }}
            </a>
          </td>

          <td class="px-4 py-2">
            {{ transaccion.fecha | date : "d MMM yyyy, h:mm a" }}
          </td>

          <td class="px-4 py-2">
            {{
              transaccion.importeEnviado
                | customCurrency : transaccion.clienteOrigenDivisa
            }}
          </td>

          <td class="px-4 py-2">
            {{
              transaccion.importeRecibido
                | customCurrency : transaccion.clienteDestinoDivisa
            }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Paginación -->
  <pagination-controls
    (pageChange)="currentPage = $event"
  ></pagination-controls>

  <!-- Tooltip -->
  <div
    class="tooltip-container"
    *ngIf="hoveredCliente"
    [ngStyle]="tooltipPosition"
  >
    <h3 class="font-semibold text-gray-100">
      {{ hoveredCliente?.nombre }}
    </h3>
    <p class="text-gray-200">ID: {{ hoveredCliente?.clienteId }}</p>
    <p class="text-gray-200">Teléfono: {{ hoveredCliente?.telefono }}</p>
    <p class="text-gray-200">Email: {{ hoveredCliente?.correo }}</p>
  </div>
</div>
