<div class="filter-container" *ngIf="transacciones.length">
  <input type="text" [(ngModel)]="filterTransaccion" placeholder="Filtro" />
</div>

<div class="table-container">
  <div class="pagination-controls" *ngIf="transaccionesFilter.length > 20">
    <pagination-controls
      (pageChange)="currentPage = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente"
    ></pagination-controls>
  </div>
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    *ngIf="transacciones.length"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th (click)="order('transaccionId')" scope="col" class="px-6 py-3">
          Id Transaccion
        </th>
        <th (click)="order('clienteOrigenId')" scope="col" class="px-6 py-3">
          Cliente Origen
        </th>
        <th (click)="order('clienteDestinoId')" scope="col" class="px-6 py-3">
          Cliente Destino
        </th>
        <th (click)="order('fecha')" scope="col" class="px-6 py-3">Fecha</th>
        <th (click)="order('importeEnviado')" scope="col" class="px-6 py-3">
          Importe Enviado
        </th>
        <th (click)="order('importeRecibido')" scope="col" class="px-6 py-3">
          Importe Recibido
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let transaccion of transaccionesFilter
            | paginate : { itemsPerPage: 20, currentPage: currentPage }
        "
        class="bg-white border-b"
      >
        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
          {{ transaccion.transaccionId }}
        </td>
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          <a
            [routerLink]="[
              '/estadistica/clientes/',
              transaccion.clienteOrigenId
            ]"
            class="block w-full h-full"
          >
            {{ transaccion.clienteOrigenId }}
          </a>
        </th>
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          <a
            [routerLink]="[
              '/estadistica/clientes/',
              transaccion.clienteDestinoId
            ]"
            class="block w-full h-full"
          >
            {{ transaccion.clienteDestinoId }}
          </a>
        </th>
        <td class="px-6 py-4">
          {{ transaccion.fecha }}
        </td>
        <td class="px-6 py-4">
          {{ transaccion.importeEnviado }}
        </td>
        <td class="px-6 py-4">
          {{ transaccion.importeRecibido }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
