
<h1>Usuarios</h1>
<p>Contenido de la sección de usuarios.</p>

<body>
  <nav>
      <ul>
          <li>
            <a routerLink="/menu/usuarios/outliers" routerLinkActive="active">Outliers</a>
          </li>
          <li>
            <a routerLink="/menu/usuarios/volumetry" routerLinkActive="active">Volumetry</a>
          </li>
          <li>
            <a routerLink="/menu/usuarios/clusters" routerLinkActive="active">Clusters</a>
          </li>
          <li>
            <a routerLink="/menu/usuarios/map" routerLinkActive="active">Map</a>
          </li>
          <li>
            <a routerLink="/menu/usuarios/graph" routerLinkActive="active">Graph</a>
          </li>
          <li>
            <a routerLink="/menu/usuarios/spaghetti" routerLinkActive="active">Spaghetti</a>
          </li>
          <li>
            <a routerLink="/menu/usuarios/table" routerLinkActive="active">Table</a>
          </li>
          <li>
      </ul>
    </nav>
</body>


<router-outlet>
    
</router-outlet>