


<body>
    <nav>
        <ul>
            <li>
              <a routerLink="/menu/usuarios/outliers" routerLinkActive="active">Outliers</a>
            </li>
            <li>
              <a routerLink="/menu/usuarios/volumetria" routerLinkActive="active">Volumetria</a>
            </li>
            <li>
              <a routerLink="/menu/usuarios/cluster" routerLinkActive="active">Cluster</a>
            </li>
            <li>
              <a routerLink="/menu/usuarios/mapa" routerLinkActive="active">Map</a>
            </li>
            <li>
              <a routerLink="/menu/usuarios/graph" routerLinkActive="active">Graph</a>
            </li>
            <li>
              <a routerLink="/menu/usuarios/spaghetti" routerLinkActive="active">Spaghetti</a>
            </li>
            <li>
              <a routerLink="/menu/usuarios/tabla" routerLinkActive="active">Table</a>
            </li>
            <li>
        </ul>
      </nav>
  </body>

  <h1>Usuarios</h1>
<p>Contenido de la sección de usuarios.</p>
  
<router-outlet>
    
</router-outlet>