<div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
  <!-- Encabezado -->
  <header class="bg-gradient-to-r from-gray-800 to-gray-900 text-white p-4 rounded-t-lg shadow-lg">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex items-center space-x-4">
        <h1 class="text-2xl font-bold">Gestión de usuarios y clientes</h1>
      </div>
      <nav>
        <ul class="flex space-x-6">
          <li><a href="#" class="text-lg hover:text-gray-400 transition duration-300">Inicio</a></li>
          <li><a href="#" class="text-lg hover:text-gray-400 transition duration-300">Usuarios</a></li>
          <li><a href="#" class="text-lg hover:text-gray-400 transition duration-300">Clientes</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Buscador -->
  <div class="p-4 bg-white">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (ngModelChange)="filterResults()"
      placeholder="Buscar..."
      class="mb-4 px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
    />

    <!-- Pestañas para la navegación de la tabla -->
    <div class="flex border-b border-gray-200">
      <button
        [ngClass]="{ 'text-blue-500 border-blue-500': activeTab === 'table1', 'text-gray-500 hover:text-blue-500': activeTab !== 'table1' }"
        (click)="activeTab = 'table1'; filterResults()"
        class="px-4 py-2 font-semibold text-sm border-b-2 focus:outline-none"
      >
        Usuarios
      </button>
      <button
        [ngClass]="{ 'text-blue-500 border-blue-500': activeTab === 'table2', 'text-gray-500 hover:text-blue-500': activeTab !== 'table2' }"
        (click)="activeTab = 'table2'; filterResults()"
        class="px-4 py-2 font-semibold text-sm border-b-2 focus:outline-none"
      >
        Clientes
      </button>
    </div>

    <!-- Tabla 1 (Usuarios) -->
    <div *ngIf="activeTab === 'table1'" class="overflow-x-auto mt-4">
      <table class="min-w-full border-collapse bg-white text-left text-sm text-gray-500">
        <thead class="bg-gray-100">
          <tr>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Nombre de usuario</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Correo electrónico</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Rol</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Acciones</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr *ngFor="let usuario of filteredUsuarios | paginate: { itemsPerPage: pageSize, currentPage: page }" class="hover:bg-gray-50">
            <td class="flex gap-3 px-6 py-4 font-normal text-gray-900">
              <div class="relative h-10 w-10">
                <img class="h-full w-full rounded-full object-cover object-center" [src]="'https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'" alt="Imagen del usuario" />
                <span class="absolute right-0 bottom-0 h-2 w-2 rounded-full bg-green-400 ring ring-white"></span>
              </div>
              <div class="text-sm">
                <div class="font-medium text-gray-700">{{ usuario.userName }}</div>
                <div class="text-gray-400">{{ usuario.email }}</div>
              </div>
            </td>
            <td>
              <div class="font-medium text-gray-700">{{ usuario.email }}</div>
            </td>
            <td class="px-6 py-4">{{ usuario.rol }}</td>
            <td class="px-6 py-4">
              <div class="flex justify-center gap-4">
                <!-- Botón Editar -->
                <a (click)="editUsuario(usuario)" x-data="{ tooltip: 'Editar' }">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6" x-tooltip="tooltip">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                  </svg>
                </a>
                <!-- Botón Eliminar -->
                <a (click)="selectedUsuario(usuario)" x-data="{ tooltip: 'Eliminar' }">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6" x-tooltip="tooltip">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 6L18 18M6 18L18 6" />
                  </svg>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Tabla 2 (Clientes) -->
    <div *ngIf="activeTab === 'table2'" class="overflow-x-auto mt-4">
      <table class="min-w-full border-collapse bg-white text-left text-sm text-gray-500">
        <thead class="bg-gray-100">
          <tr>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Nombre</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Apellido</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Fecha de Nacimiento</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Empleo</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Acciones</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr *ngFor="let cliente of filteredClientes | paginate: { itemsPerPage: pageSize, currentPage: page }" class="hover:bg-gray-50">
            <td class="px-6 py-4">{{ cliente.nombre }}</td>
            <td class="px-6 py-4">{{ cliente.apellido }}</td>
            <td class="px-6 py-4">{{ cliente.fechaNacimiento | date }}</td>
            <td class="px-6 py-4">{{ cliente.empleo }}</td>
            <td class="px-6 py-4">
              <div class="flex justify-center gap-4">
                <!-- Botón Editar -->
                <a (click)="editCliente(cliente)" x-data="{ tooltip: 'Editar' }">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6" x-tooltip="tooltip">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                  </svg>
                </a>
                <!-- Botón Eliminar -->
                <a (click)="selectedCliente(cliente)" x-data="{ tooltip: 'Eliminar' }">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6" x-tooltip="tooltip">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 6L18 18M6 18L18 6" />
                  </svg>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Paginación -->
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
