<!-- src/app/components/clusters/clusters.component.html -->
<div class="table-container">
  <input
    type="text"
    placeholder="Filtrar por etiqueta"
    [(ngModel)]="filterText"
    (ngModelChange)="onFilterChange()"
    class="mb-4 px-4 py-2 border border-gray-300 rounded"
  />

  <div class="relative overflow-x-auto" *ngIf="filteredTableData && filteredTableData.length > 0">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3 cursor-pointer" (click)="sortData(0)">Edad</th>
          <th scope="col" class="px-6 py-3 cursor-pointer" (click)="sortData(1)">Balance</th>
          <th scope="col" class="px-6 py-3 cursor-pointer" (click)="sortData(2)">Sexo</th>
          <th scope="col" class="px-6 py-3 cursor-pointer" (click)="sortData(3)">Número de Gastos</th>
          <th scope="col" class="px-6 py-3 cursor-pointer" (click)="sortData(4)">Número de Ingresos</th>
          <th scope="col" class="px-6 py-3 cursor-pointer" (click)="sortData(5)">Etiqueta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of filteredTableData">
          <td class="px-6 py-3">{{ row[0] }}</td>
          <td class="px-6 py-3">{{ row[1] }}</td>
          <td class="px-6 py-3">{{ row[2] }}</td>
          <td class="px-6 py-3">{{ row[3] }}</td>
          <td class="px-6 py-3">{{ row[4] }}</td>
          <td class="px-6 py-3">{{ row[5] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
