<div *ngIf="!loading">
  <div *ngIf="!vacio; else noOutliers">
    <div
      *ngFor="let outlier of outliers.slice().reverse(); let i = index"
      class="flex justify-center items-center w-full p-4"
    >
      <div class="max-w-sm w-full bg-white border rounded-xl shadow-md">
        <div class="p-4 flex justify-between items-center border-b">
          <h1 class="text-red-700 text-xl font-bold">
            Se ha detectado un outlier
          </h1>
          <h1 class="text-end text-gray-600 text-sm font-semibold">
            {{ outlier.fecha | formaterFecha }}
          </h1>
        </div>
        <div class="p-4">
          <p class="font-normal mb-4 text-gray-800">
            El usuario <b>{{ outlier.clienteOrigen.correo }}</b> ha hecho un
            envío de
            <b>{{
              outlier.importeEnviado
                | customCurrency : outlier.clienteOrigen?.pais?.divisa
            }}</b>
          </p>
        </div>
        <div class="flex p-4 justify-between">
          <!-- Botón Detalle -->
          <a
            routerLink="/estadistica/outliers/{{ outlier.clienteOrigenId }}"
            routerLinkActive="active"
            class="flex items-center justify-center bg-blue-700 hover:bg-blue-800 text-white rounded-lg px-4 py-2 font-semibold text-sm transition duration-150 ease-in-out"
          >
            Detalle
          </a>
          <!-- Botón Resolver -->
          <button
            (click)="borrarOutlier(outlier.transaccionId)"
            class="flex items-center justify-center text-white border-2 border-green-700 bg-green-500 hover:bg-green-600 rounded-xl py-2 px-4 font-semibold text-sm transition duration-150 ease-in-out"
          >
            Resolver
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 ml-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m4.5 12.75 6 6 9-13.5"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noOutliers>
  <div class="flex justify-center items-center w-full mt-80">
    <h1 class="text-5xl font-bold text-green-500">
      No se han detectado outliers recientes
    </h1>
  </div>
</ng-template>
