<div *ngFor="let outlier of outliers" class="flex justify-center items-center w-full p-4">

  <div class="max-w-sm w-full bg-white border rounded-xl shadow-md">

    <div class="p-4 flex justify-between items-center border-b">
      <h1 class="text-red-700 text-xl font-bold">Se ha detectado un outlier</h1>
      <h1 class="text-end text-gray-600 text-sm font-semibold">26/09/24</h1>
    </div>

    <div class="p-4">
      <p class="font-normal mb-4 text-gray-800">
        El usuario <b>{{ outlier.clienteOrigen.correo }}</b> ha hecho un envío de <b>{{ outlier.importeEnviado }}€</b>
      </p>
    </div>

    <div class="p-4">
      <a routerLink="/estadistica/outliers/{{outlier.clienteOrigenId}}" routerLinkActive="active" class="text-white bg-blue-700 hover:bg-blue-800 rounded-lg p-2 block text-center font-semibold">
        Detalle del outlier
      </a>

    </div>

  </div>

</div>
