/* Estilo para el contenedor del dropdown */
.dropdown-container {
  max-width: 650px;
  margin: 35px auto;
  text-align: center;
}

/* Estilo para el label */
.dropdown-container label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

/* Estilo para el select */
.dropdown-container select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
}

/* Estilo para el select al estar enfocado */
.dropdown-container select:focus {
  outline: none;
  border-color: #999;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

/* Estilo para el gráfico */
#chart {
  max-width: 650px;
  margin: 35px auto;
}

/* Estilo para loader */
.loader {
  width: 40px;
  height: 40px;
  position: relative;
  --c:no-repeat linear-gradient(#25b09b 0 0);
  background:
    var(--c) center/100% 10px,
    var(--c) center/10px 100%;
}
.loader:before {
  content:'';
  position: absolute;
  inset: 0;
  background:
    var(--c) 0    0,
    var(--c) 100% 0,
    var(--c) 0    100%,
    var(--c) 100% 100%;
  background-size: 15.5px 15.5px;
  animation: l16 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l16 {
   33%  {inset:-10px;transform: rotate(0deg)}
   66%  {inset:-10px;transform: rotate(90deg)}
   100% {inset:0    ;transform: rotate(90deg)}
}