<div class="dropdown-container">
  <label for="n_cluster">Seleccione el número de clusters:</label>
  <select id="n_cluster" (change)="onSelectionCluster($event)">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</div>

<app-clusters-graph></app-clusters-graph>

<app-clusters-table></app-clusters-table>

<!-- Cuadro para mostrar el índice Davies-Bouldin -->
<div *ngIf="daviesBouldinIndex !== null" class="davies-bouldin-box">
  <p>Índice de Davies-Bouldin para este cluster: {{ daviesBouldinIndex }}</p>
</div>