<div class="dropdown-container">
  <label for="data-type">Seleccione el sample:</label>
  <select id="data-type" (change)="onSelectionChange($event)">
    <option value="sample a">Sample A</option>
    <option value="sample b">Sample B</option>
    <option value="sample c">Sample C</option>
  </select>
  <label for="n_cluster">Seleccione el número de clusters:</label>
  <select id="n_cluster" (change)="onSelectionCluster($event)">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</div>

<app-clusters-graph></app-clusters-graph>

<app-clusters-table></app-clusters-table>