1. Instalar Visual Studio:
	Desde el instalador de VS seleccionar:
	- Desarrollo de escritorio .NET
	- Almacenamiento y procesamiento de datos (SQL)

2. Instalar entity framework core

3. Para swagger => Es posible que sea necesario generar un certificado SSL para swagger en tu ordenador.

4. Para la base de datos:

	=> En la consola del administrador de paquetes nugget de VS: 

Install-Package Microsoft.EntityFrameworkCore
Install-Package Microsoft.EntityFrameworkCore.SqlServer
Install-Package Microsoft.EntityFrameworkCore.Tools

Add-Migration InitialCreate (Si no hubiera ninguna migracion ya)
Update-Database

5. Ya deberia funcionar todo



	